.wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
  overflow-x: hidden;
  max-height: 700px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-width: 3px;
  /* border-color: blue; */
}


.wrapper>h4 {
  background-color: rgb(233, 233, 233);
  margin: 0;
  padding: 20px;
}


.closeButton {
  position: absolute;
  top: 18px;
  right: 12px;
  background: transparent;
  border: unset;
  font-size: 18px;
  cursor: pointer;
}

.closeButton:hover {
  opacity: 0.5;
}